body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5f4ff;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #dddddd;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
}

.heading {
  margin: 0;
  text-transform: uppercase;
}

.balans {
  margin-left: 10px;
}

.user {
  margin-left: 20px;
}

.logo {
  margin-right: 15px;
  border-radius: 8px;
}

.paragraf {
  margin: 0;
  opacity: 0.5;
}

.content {
  padding: 40px;
}

.contentH1 {
  font-family: "Inter";
  margin: 0;
}

.card {
  width: 210px;
  height: 260px;
  padding: 15px;
  margin-left: 20px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.favorite {
  position: absolute;
  cursor: pointer;
  padding: 2px;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

h5 {
  font-size: 13px;
}

.cardMarginLeft {
  margin-left: 33px;
}

.materials {
  display: flex;
}

.price {
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}

b {
  font-size: 13px;
}

.search-block {
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  width: 250px;
}

.searchInput {
  border: 0;
  font-size: 16px;
  padding: 10px;
}

.content-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
}

.cartName {
  margin-left: 30px;
  font-size: 24px;
}

.cartItem {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.cartItemImg {
  margin-top: 10px;
}

.btn-remove {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-remove:hover {
  background-color: #dddddd;
  /* box-shadow: 0px 15px 35px rgba(79, 79, 79, 0.06); */
  transform: translateY(-1px);
}

.cartTotalBlock {
  padding: 0;
  margin: 20px;

  li {
    display: flex;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    margin: 12px;
  }
}

.items {
  margin: 0 15px;
  flex: 1;
}

.oreder-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #9DD458;
  color: #FFFFFF;
  border-radius: 18px;
  margin:0 30px 30px 30px;
  font-size: 16px;
  width: 325px;
  height: 55px;
  transition: transform 0.3s ease-in-out;

  p {
    margin-left: 30px;
  }

  div {
    font-size: 20px;
    margin-bottom: 1px;
    margin-left: 20px;
  }
}

.oreder-btn:hover{
  transform: translateY(-2px);
}
