body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5f4ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #dddddd;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
}

.heading {
  margin: 0;
  text-transform: uppercase;
}

.balans {
  margin-left: 10px;
}

.user {
  margin-left: 20px;
}

.logo {
  margin-right: 15px;
  border-radius: 8px;
}

.paragraf {
  margin: 0;
  opacity: 0.5;
}

.content {
  padding: 40px;

}

.contentH1 {
  font-family: "Inter";
  margin: 0;
  margin-bottom: 40px;
}

.card {
  width: 210px;
  height: 260px;
  padding: 15px;
  margin-left: 20px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 40px;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 32px;
  height: 32px;
  margin: 7px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

h5 {
  font-size: 13px;
}

.cardMarginLeft {
  margin-left: 33px;
}

.materials {
  display: flex;
}

.price{
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}


b{
  font-size: 13px;
}